.main {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.canvas {
    border: 2px solid black;
}

.top,
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.block,
input,
select,
button {
    width: 80%;
}

.column {
    display: flex;
    flex-direction: column;
}

.bottom>button {
    margin: 10px;
}

.top>.block {
    margin: 10px;
}

.block>p {
    margin: 10px auto;
    width: 50%;
}

.head {
    text-align: center;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
}

body {
    background: linear-gradient(45deg, red, rgb(155, 41, 211), orange, rgb(27, 244, 237));
}
